body {
    background: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.primeHdg {
    padding: 20px 20px 30px;
    margin: 0 0 20px;
    background: rgb(41, 49, 65);
    color: rgb(161, 179, 214);
    text-align: center;
}

.kittykat {
    border: 1px solid red;
}

.stack {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.stack > * {
    display: block;
    margin: 0;
    padding: 6px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.stack > * + * {
    border-top: 1px solid #747c81;   
}

.box {
    padding: 10px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.spacer_bottom {
    margin-bottom: 15px;
}

.spacer_bottomSmall {
    margin-bottom: 8px;
}

.lblText {
    font-size: 0.8rem;
}
